.R{
	height:12px;
	width:30px;
	background:#ffffaa;
	box-shadow:0 0 2px gray;
	

border-radius:3px;
}
.R:before{
	display:block;
	height:0px;
	width:10px;
	border-

top:1px solid gray;
	content:'';
	top:5.2px;
	position:relative;
	left:-10.3px;
}
.R:after{
	display:block;
	height:0px;
	width:10px;
	border-top:1px solid gray;
	

content:'';
	top:-13.7px;
	position:relative;
	right:-30.2px;
}
.R div{
	-webkit-

transform:translate(9px,-3.8px);
	display:inline-block;
	border:none;
	margin-left:-4px;
	

width:2px;
	height:12px;
}
.black{
	background:black;
}
.brown{
	background:brown;
}
.red{
	background:red;
}
.gold{
	background:#dddd00;
}
.blue{
	background:blue;
}
.green{
	

background:green;
}
.orange{
	background:#ff6600;
}
.yellow{
	background:#ffff00;
}
.purple{
	

background:purple;
}
